<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>4択問題メニュー</title>
</head>

<body>

    <h1>4択問題メニュー</h1>

    <a th:href="@{/quiz4/play4}">
        <button type="button">プレイ</button>
    </a>

    <a th:href="@{/quiz4/crud4}">
        <button type="button">1問ずつ登録</button>
    </a>

    <a th:href="@{/quiz4/csvUpload4}">
        <button type="button">CSVで登録</button>
    </a>


    <p>
        <a th:href="@{/menu}">クイズメニューに戻る</a>
    </p>

</body>

</html>