<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>4択問題CSV登録</title>
</head>

<body>

    <h1>4択問題CSV登録</h1>

    <p th:if="${msg}" th:text="${msg}" style="color:blue"></p>
    <p th:if="${error}" th:text="${error}" style="color:red"></p>

    <form th:action="@{/quiz4/csv-upload}"
          method="post"
          enctype="multipart/form-data">

        <p>CSVファイルを選択してください。</p>

        <input type="file"
               name="file"
               accept=".csv">

        <br><br>

        <button type="submit">CSVを登録する</button>

    </form>

    <hr>

    <h3>CSV形式</h3>

	<pre>
	question,choice1,choice2,choice3,choice4,answer,explanation
	（以下、例）
	朝起きて歯を磨く動作のことをなんという？,シャワー,水やり,歯磨き,ラジオ体操,3,歯を磨く動作のことを歯磨きと言います。
	次の中で和食でないものは？,寿司,すき焼き,卵焼き,ビリヤニ,4,ビリヤニはペルシャ地方発祥の食べ物です。</pre>

    <p>
        <a th:href="@{/menu/quiz4}">4択問題メニュー画面へ戻る</a>
    </p>

</body>

</html>