<th:block th:unless="${msg}">

    <form th:action="@{/quiz/check10}"
          method="POST">

        <div th:each="quiz, stat : ${quizList}">

            <p>
                第<span th:text="${stat.count}"></span>問
            </p>

            <p th:text="${quiz.question}">
                クイズ内容
            </p>

            <p>
                確認用ID：
                <span th:text="${quiz.id}"></span>
            </p>

            <input type="hidden"
                   th:attr="name='answers[' + ${stat.index} + '].id', value=${quiz.id}">

            <label>
                <input type="radio"
                       th:attr="name='answers[' + ${stat.index} + '].myAnswer'"
                       value="true">
                ○
            </label>

            <label>
                <input type="radio"
                       th:attr="name='answers[' + ${stat.index} + '].myAnswer'"
                       value="false">
                ×
            </label>

        </div>

        <button type="submit">
            まとめて回答する
        </button>

    </form>

</th:block>