<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>10問クイズ結果</title>
</head>

<body>

<h1>10問クイズ結果</h1>

<p>
    <span th:text="${totalCount}"></span>問中
    <span th:text="${correctCount}"></span>問正解です！
</p>

<hr>

<div th:each="answer, stat : ${answers}">

    <th:block th:if="${answer.id != null}">

        <p>
            第<span th:text="${stat.count}"></span>問：
            <span th:if="${answer.correct}">正解</span>
            <span th:unless="${answer.correct}">不正解</span>
        </p>

    </th:block>

</div>

<a th:href="@{/quiz2/10}">もう一度プレイする</a>

   <br>

   <a th:href="@{/quiz10}">登録画面へ戻る</a>
<br>
   <a th:href="@{/menu}">クイズメニューに戻る</a>

</body>
</html>